<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/pdichone/Downloads/IMG_0782.mov</key>
	<data>
	Ym9va7wCAAAAAAQQMAAAAC7V6KchcWceaFwPa41hZ3lnTG9UvU3KAnOgaIxN96++uAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHBkaWNob25lCQAAAAEB
	AABEb3dubG9hZHMAAAAMAAAAAQEAAElNR18wNzgyLm1vdhAAAAABBgAAEAAAACAAAAAw
	AAAARAAAAAgAAAAEAwAAsTgAAAAAAAAIAAAABAMAAB3aAwAAAAAACAAAAAQDAABQ2gMA
	AAAAAAgAAAAEAwAAhylpAgAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEHF5NclgAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcXWA8GAAAAkAAAAAQEAADkyQjQxMTk5
	LTVDNkEtNDA1NS1BNUQzLUVFOEQzREFGMUNCMxgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AABYAAAAAAAAAAUQAACwAAAAAAAAABAQAADYAAAAAAAAAEAQAADIAAAAAAAAAAIgAACk
	AQAAAAAAAAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEgAABYAQAAAAAAABIgAAA4AQAA
	AAAAABMgAABIAQAAAAAAACAgAACEAQAAAAAAADAgAACwAQAAAAAAAAHAAAD4AAAAAAAA
	ABHAAAAgAAAAAAAAABLAAAAIAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/pdichone/Downloads/IMG_0783.mov</key>
	<data>
	Ym9va7wCAAAAAAQQMAAAAK5BRoIY1ZWsN1vwly8glswEQYoUOM03SHRjXqir3w1nuAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHBkaWNob25lCQAAAAEB
	AABEb3dubG9hZHMAAAAMAAAAAQEAAElNR18wNzgzLm1vdhAAAAABBgAAEAAAACAAAAAw
	AAAARAAAAAgAAAAEAwAAsTgAAAAAAAAIAAAABAMAAB3aAwAAAAAACAAAAAQDAABQ2gMA
	AAAAAAgAAAAEAwAAgClpAgAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEHF5NdiAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcXWA8GAAAAkAAAAAQEAADkyQjQxMTk5
	LTVDNkEtNDA1NS1BNUQzLUVFOEQzREFGMUNCMxgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AABYAAAAAAAAAAUQAACwAAAAAAAAABAQAADYAAAAAAAAAEAQAADIAAAAAAAAAAIgAACk
	AQAAAAAAAAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEgAABYAQAAAAAAABIgAAA4AQAA
	AAAAABMgAABIAQAAAAAAACAgAACEAQAAAAAAADAgAACwAQAAAAAAAAHAAAD4AAAAAAAA
	ABHAAAAgAAAAAAAAABLAAAAIAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/pdichone/Downloads/IMG_0784.mov</key>
	<data>
	Ym9va7wCAAAAAAQQMAAAAK7cGYu2FvHIP4y/4wky7BVt3JhVrXYjWjCcm7TGwzqEuAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAHBkaWNob25lCQAAAAEB
	AABEb3dubG9hZHMAAAAMAAAAAQEAAElNR18wNzg0Lm1vdhAAAAABBgAAEAAAACAAAAAw
	AAAARAAAAAgAAAAEAwAAsTgAAAAAAAAIAAAABAMAAB3aAwAAAAAACAAAAAQDAABQ2gMA
	AAAAAAgAAAAEAwAAMy1pAgAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEHF5NktgAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcXWA8GAAAAkAAAAAQEAADkyQjQxMTk5
	LTVDNkEtNDA1NS1BNUQzLUVFOEQzREFGMUNCMxgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AABYAAAAAAAAAAUQAACwAAAAAAAAABAQAADYAAAAAAAAAEAQAADIAAAAAAAAAAIgAACk
	AQAAAAAAAAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEgAABYAQAAAAAAABIgAAA4AQAA
	AAAAABMgAABIAQAAAAAAACAgAACEAQAAAAAAADAgAACwAQAAAAAAAAHAAAD4AAAAAAAA
	ABHAAAAgAAAAAAAAABLAAAAIAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
